build/built-jar.properties
*.class
build/classes/.netbeans_automatic_build
*.netbeans_update_resources
dist/Project1_AudioRecording.jar
manifest.mf
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/build-impl.xml
nbproject/project.xml
nbproject/private/private.properties
nbproject/project.xml
build.xml
manifest.mf
nbproject/private/private.xml
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/project.properties
dist/README.TXT